*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.CountryStats{
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0px 5px 20px #1425401A;
    height: 71vh;
    overflow: auto;
    margin-bottom: 10px;
}

.CountryStats input{
    width: 100%;
    border-radius: 20px;
    padding: 10px 5px;
    border: 1px solid #808080;
    background: #f7f7f7;
    margin: 8px 0;
}

.CountryStats ul{
    list-style: none;
    
   
    padding: 10px;
}

.CountryStats ul li{
    padding: 15px;
    margin: 5px 0;
    box-shadow: 0px 0px 5px #d4cccc ;
    border-radius: 5px;
}

.CountryStats p{
    padding: 5px;
}

.CountryStats ul li img{
    vertical-align: middle;
    padding-right: 10px;
}

.CountryStats ul li p:first-child{
    font-weight: 500;
}

.CountryStats ul li p:last-child{
    font-weight: 500;
    color: #808080;
    font-size: 12px;
}

@media(min-height:1000px){
    .CountryStats{
        height: 30vh;
    }
}

@media(max-width:760px){
    .CountryStats{
        width: 100%;
    }
}


