*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Home{
    background: #f7f7f7;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Home > div:first-child{
    display: flex;
    flex-direction: column;
    flex-basis: 72%;
    
}

.Country{
    display: flex;
    justify-content: space-between;
    
}

.Updates{
    display: flex;
    justify-content: space-between;
    
}


.Home > div:last-child{
    display: flex;
    flex-direction: column;
    flex-basis: 27%;
   
}


@media(max-width:1024px){
    .Home{
        flex-direction: row;
    }
    .Updates{
        flex-direction: column;
    }

}

@media(max-width:768px){
    .Home{
        flex-direction: column;
    }

}

@media(max-width:500px){
    .Country{
        flex-direction: column;
    }
    
    .Home{
        flex-wrap: nowrap;
    }

}
