.RecoveryRatio{
    padding: 20px;
    background: #fff;
    text-align: center;
   
}

.RecoveryRatio > div{
    background: #f5f5f5;
    border-radius: 50%;
    height: 200px;
    width: 70%;
    margin: 10px auto;
    position: relative;
}

.RecoveryRatio > div > div{
    position: absolute;
    background: #fff;
    top: 50%;
    left: 50%;
    padding: 50px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0px 0px 22px #2FD0AA26;

}


