*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Body{
    background: #f7f7f7;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

.Body > div:first-child{
    display: flex;
    flex-direction: column;
    width: 72%;
}

.Body > div:last-child{
    display: flex;
    flex-direction: column;
    width: 27%;
}