*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Updates{
    display: flex;
    justify-content: space-between;
}

.Updates > div{
    flex-basis: 49%;
    
    background: #fff;
}

.Updates > div:last-child{
    padding: 10px 20px;
}

.Updates h4{
    color: #ff0019;
    background: #d8acac;
    display: inline-block;
    padding: 3px;
    border-radius: 2px;
}
.Dot{
    margin: 0 5px;
    padding: 5px;
    border-radius: 50%;
    border: none;
    background: #ff0019;
}

.Heading{
    display: flex;
    justify-content: space-between;
}

.Heading button{
    display: inline-block;
    background: transparent;
    border: none;
    padding: 8px 5px;
    border-radius: 5px;
    font-weight: 600;
    color: #30313a;
}

.Heading button:hover, .Heading button:active{
    background: #808080;
    color: #fff;
}