*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.NavBar{
    padding: 0 30px;
    display: flex;
    align-items: center;
    
}

.NavBar img{
    padding: 15px 0;
}

.NavBar ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.NavBar > ul li:first-child{
    padding: 0;
}

.NavBar > ul li:nth-child(2) a{
    font-size: 25px;
    font-weight: 600;
    color: #ff0019;
    text-decoration: none;
}

.NavBar nav{
    margin: 0 270px;
}

.NavBar ul li{
    padding: 0 10px;
}

.DrawerToggle {
    display: none;
        
    
}

.DrawerToggle div {
    width: 90%;
    height: 3px;
    background-color: #ff0019;
    margin: 5px 0;
}



@media(max-width:1024px){

    .NavBar{
        justify-content: space-between;
    }

    .NavBar nav{
        display: none;
    }

    .DrawerToggle{
        width: 40px;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        cursor: pointer;
    }
    
}

